{%include 'NNGenieMaintenanceBundle::entetebreamcrumb.html.twig'%}                
<li ><a href="{{path('nn_genie_maintenance_typereglages')}}" ><span  aria-hidden="true"></span> Types de règlage</a></li>
