{% extends "::base.html.twig" %}

{% block title %}NNGenieInfosMatBundle:Disponibilite:view{% endblock %}

{% block body %}
<h1>Welcome to the Disponibilite:view page</h1>
<ul>
     <li>
         {{ disponibilite.nom }}
     </li>
  </ul>
{% endblock %}
