{% extends "::base.html.twig" %}

{% block title %}NNGenieInfosMatBundle:Classemateriel:index{% endblock %}

{% block body %}
<h1>Welcome to the Classemateriel:index page</h1>
  <ul>
    {% for classemateriel in classemateriels %}
     <li>
         {{ classemateriel.nom }}
     </li>
    {% else %}
     <li>Pas (encore !) de classes materiel</li>
    {% endfor %}
  </ul>

{% endblock %}
