{% extends "::base.html.twig" %}

{% block title %}NNGenieInfosMatBundle:Classemateriel:new{% endblock %}

{% block body %}
<h1>Welcome to the Classemateriel:new page</h1>
<div class="well">
  {{ form(form) }}
</div> 
{% endblock %}
