{% extends "::base.html.twig" %}

{% block title %}NNGenieInfosMatBundle:Classemateriel:view{% endblock %}

{% block body %}
<h1>Welcome to the Classemateriel:view page</h1>
<ul>
     <li>
         {{ classemateriel.nom }}
     </li>
     <li>
         {{classemateriel.code}}
     </li>
  </ul>
{% endblock %}
