{%include 'NNGenieMaintenanceBundle::entetebreamcrumb.html.twig'%}                
<li ><a href="{{path("nn_genie_maintenance_fournisseurspieces")}}" ><span  aria-hidden="true"></span> Fournisseur de pièces</a></li>
