{% extends "::base.html.twig" %}

{% block title %}NNGenieInfosMatBundle:Famille:edit{% endblock %}

{% block body %}
<h1>Welcome to the Famille:edit page</h1>
<div class="well">
  {{ form(form) }}
</div>
{% endblock %}
