{% extends "::base.html.twig" %}

{% block title %}NNGenieInfosMatBundle:Famille:view{% endblock %}

{% block body %}
<h1>Welcome to the Famille:view page</h1>
<ul>
     <li>
         {{ famille.nom }}
     </li>
     <li>
         {{famille.code}}
     </li>

{% endblock %}
