{% extends "::base.html.twig" %}

{% block title %}NNGenieInfosMatBundle:CommentaireController:delete{% endblock %}

{% block body %}
<h1>Welcome to the CommentaireController:delete page</h1>
{% endblock %}
