{%include 'NNGenieMaintenanceBundle::entetebreamcrumb.html.twig'%}                
<li ><a href="{{path('nn_genie_maintenance_typepropretes')}}" ><span  aria-hidden="true"></span> Types de propreté</a></li>
