{% extends "::base.html.twig" %}

{% block title %}NNGenieInfosMatBundle:Adresse:view{% endblock %}

{% block body %}
<h1>Welcome to the Adresse:view page</h1>
<ul>
     <li>
         {{ adresse.pays }}
     </li>
     <li>
         {{adresse.ville}}
     </li>
  </ul>
{% endblock %}
