{% extends "::base.html.twig" %}

{% block title %}NNGenieInfosMatBundle:Disponibilitemateriel:delete{% endblock %}

{% block body %}
<h1>Welcome to the Disponibilitemateriel:delete page</h1>
{% endblock %}
