{% extends "::base.html.twig" %}

{% block title %}NNGenieInfosMatBundle:Disponibilitemateriel:new{% endblock %}

{% block body %}
<h1>Welcome to the Disponibilitemateriel:new page</h1>
{% endblock %}
