{% extends "::base.html.twig" %}

{% block title %}NNGenieInfosMatBundle:Disponibilitemateriel:view{% endblock %}

{% block body %}
<h1>Welcome to the Disponibilitemateriel:view page</h1>
{% endblock %}
