{% extends "::base.html.twig" %}

{% block title %}NNGenieInfosMatBundle:Etat:view{% endblock %}

{% block body %}
<h1>Welcome to the Etat:view page</h1>
<ul>
     <li>
         {{ etat.nom }}
     </li>
  </ul>

{% endblock %}
